body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Set background color to black */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-container {
    width: 30%; /* Adjust the width of the container as needed */
}

img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%); /* Convert the image to black and white */
}
